alabaster==0.7.12
altgraph==0.17
appdirs==1.4.4
Babel==2.9.0
backcall==0.2.0
cachey==0.2.1
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
cycler==0.10.0
czifile==2019.7.2
dask==2021.1.0
decorator==4.4.2
docutils==0.16
freetype-py==2.2.0
future==0.18.2
h5py==3.1.0
HeapDict==1.0.1
idna==2.10
imagecodecs==2021.1.11
imageio==2.9.0
imagesize==1.2.0
imgaug==0.4.0
ipykernel==5.4.3
ipython==7.19.0
ipython-genutils==0.2.0
jedi==0.18.0
Jinja2==2.11.2
joblib==1.0.0
jupyter-client==6.1.11
jupyter-core==4.7.0
kiwisolver==1.3.1
llvmlite==0.35.0
magicgui==0.2.5
MarkupSafe==1.1.1
matplotlib==3.3.3
napari==0.4.3
napari-plugin-engine==0.1.9
napari-svg==0.1.4
networkx==2.5
numba==0.52.0
numpy==1.19.5
numpydoc==1.1.0
olefile==0.46
opencv-python==4.5.1.48
packaging==20.8
parso==0.8.1
pefile==2019.4.18
pickleshare==0.7.5
Pillow==8.1.0
prompt-toolkit==3.0.13
protobuf==3.14.0
psutil==5.8.0
Pygments==2.7.4
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
PyOpenGL==3.1.5
pyparsing==2.4.7
PyQt5==5.15.2
PyQt5-sip==12.8.1
PySimpleGUI==4.34.0
python-dateutil==2.8.1
pytz==2020.5
PyWavelets==1.1.1
pywin32==300
pywin32-ctypes==0.2.0
PyYAML==5.4.1
pyzmq==21.0.1
qtconsole==5.0.2
QtPy==1.9.0
requests==2.25.1
scikit-image==0.18.1
scikit-learn==0.24.1
scipy==1.6.0
segmentify @ file:///C:/Users/Korn%C3%A9l/source/repos/segmentify
Shapely==1.7.1
six==1.15.0
snowballstemmer==2.1.0
Sphinx==3.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tensorboardX==2.1
threadpoolctl==2.1.0
tifffile==2021.1.14
toolz==0.11.1
torch==1.7.1
tornado==6.1
tqdm==4.56.0
traitlets==5.0.5
typing-extensions==3.7.4.3
urllib3==1.26.2
vispy==0.6.6
wcwidth==0.2.5
wincertstore==0.2
wrapt==1.12.1
